@{
    ViewData["Title"] = "Guide Managemet";
}

<div class="text-center">
    <h1 class="display-4">Aboba</h1>
    <p>Тут кароче будем створювать гідів, дивиться їхню інфу, всіх існуючих і всяка така шняга</p>
</div>
