@model ShubkivTour.Models.DTO.TourDTOCreate
@{
    ViewData["Title"] = "Tour Managemet";
}

<div class="text-center">
    <h1 class="display-4">Salam</h1>
    <p>Тут кароче будуть всякі плюшкі для керування турами від лиця адміна</p>
</div>
<form asp-controller="Tour" asp-action="TourCreate" method="post">
	<div class="form-group">
		<label>Назва</label>
		<input type="text" id="Name" name="Name" class="form-control" required />

		<label>Гід</label>
		<select name="Guides" class="form-control">
			@if (ViewBag.Guides != null)
			{
				@foreach (var guide in ViewBag.Guides as List<ShubkivTour.Models.Entity.Guide>)
				{
					<option value="@guide.Id">@guide.Name</option>
				}
			}
		</select>
	</div>
	<button type="submit" class="btn btn-primary">Записати гіда</button>
</form>
