/* Центрування меню */
.navbar-nav {
    margin: 0 auto;
}

/* Вирівнюємо логін по правому краю */
.navbar-collapse {
    justify-content: center;
}

.d-flex.align-items-center {
    margin-left: auto;
}
